@import url(https://fonts.googleapis.com/css2?family=Google+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

body {
  font-family: Google Sans, serif;
}

ul.CJXzee.asCVDb {
  background-color: #eee;
  padding-left: 11px;
  border-radius: 10px;
  padding-top: 10px;
  padding-right: 11px;
}

nav.joJglb {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-width: 2px;
  border-color: #ddd;
}

div.JryN0e.LBlAUc {
  margin-top: 10px;
  background-color: #eee;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 10px;
  width: 900px;
}

div.JryN0e.LBlAUc:hover {
  margin-top: 10px;
  background-color: #eee;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 10px;
}

div.SFCE1b {
  background-color: #eee;
  border-radius: 10px;
}

div.SFCE1b:hover {
  background-color: #eee;
  border-radius: 10px;
}

div.jWCzBe.QRiHXd.idtp4e.u73Apc {
  border-radius: 10px;
 
}

div.jWCzBe.QRiHXd.idtp4e.u73Apc:hover {
  border-radius:10px;
  
}


div.CG2qQ.dsW6Nd {
  margin-bottom: 15px;
  border-radius:10px;
  background-color: #f3f3f3;
  padding-top: 15px;
  margin-right: 25px;
  padding-left: 13px;
  margin-left: 50px;
  border-color: #ffffff;
  padding-right: 15px;
  box-shadow: 1px 1px 6px #888888;
  margin-top: 5px;
  width: 195px;
  padding-bottom: 15px;
}

div.CG2qQ.dsW6Nd:hover {
  margin-bottom: 15px;
  border-radius:10px;
  background-color: #f3f3f3;
  padding-top: 15px;
  margin-right: 25px;
  padding-left: 15px;
  width: 195px;
  border-color: #ffffff;
  padding-right: 15px;
  box-shadow: 1px 1px 8px #666666;
  margin-top: 5px;
  padding-bottom: 15px;
}
div.bg6sud {
  background-color: #eee;
  padding-top: 3px;
  margin-top: 15px;
  padding-bottom: 3px;
  border-radius: 10px;
  padding-left: 10px;
  margin-left: 23px;
  margin-right: 23px;
}

div.d4Fe0d.LBlAUc.NA2Gt {
  margin-bottom: 15px;
}

div.T2Ybvb.KRoqRc.editable {
  font-family: Google Sans, serif;
}

div html-blob span {
  font-family: Google Sans, sans;
  font-size: 14px;
  text-align: left;
  border-style: none;
  padding-left: 3px;
  padding-top: 1px;
}

div.kRYv9b.YVvGBb {
  font-family: Google Sans, sans;
}

span.YVvGBb.dDKhVc.Pce5Kb {
  font-family: Google Sans, sans;
  padding-left: 15px;
}
span.YVvGBb.dDKhVc.Pce5Kb:before {
  font-family: Google Sans, sans;
  content: "Alex's GC Mod v1 - ";
}

span.MhXXcc.oJeWuf { 
  width: 30epx;
  height: epx;
  margin-left: epx;
  padding-right: epx;
}

div.VfPpkd-RLmnJb {
  border-radius: 10px;
  background-color:#eee;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  height: 30px;
}

div.wCDkmf.T3FW5d.YVvGBb.dDKhVc {
  font-family: Google Sans;
}

ol li div {
  border-radius:9px;
}

ol li div:hover {
  border-radius:9px;
}

div.JBMs6.VnOHwf-Tvm9db.B7SYid.uO32ac.boxOzd.ZoT1D {
  margin-bottom: 5px;
  padding-bottom: 20px;
}

div.oC328b.QRiHXd.iobNdf.vUBwW.bFjUmb-Wvd9Cc.C2NJgb.m1PbN {
  margin-left: 13px;
  width: 50px
  padding-left
}

div.QRiHXd.iobNdf.vUBwW.bFjUmb-Wvd9Cc.C2NJgb.m1PbN {
  margin-left: 13px;
}

span.VfPpkd-vQzf8d {
  padding-top: -px;
  margin-top: -1px;
}
/*student list image boxes*/
img.L2QUBc.tkmmwb {
  height: 40px;
  width: 40px;
}
/*student/teacher list*/
div.pEwOBc.HTxhwc {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color:#eee;
  padding-right: 20px;
}

div.pEwOBc.FvI3qc.raZwr {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  border-radius: 10px;
}

li.gHz6xd.Aopndd.rZXyy {
  margin-bottom: 25px;
  margin-right: 25px;
}

div.ULzZ3.bFjUmb-Wvd9Cc {
  font-size: 30px;
}

div.qFmcrc.z3vRcc-ZoZQ1.YVvGBb {
  font-size: 24px;
  width: 95%;
}
div.qFmcrc.z3vRcc-ZoZQ1.YVvGBb span {
  display: none;
}
div.qFmcrc.z3vRcc-ZoZQ1.YVvGBb:before {
  content: "Alex's GC Mod - ";
}

span.YVvGBb.z3vRcc.Pce5Kb:after {
 content: " List";
}

ol.Xzp3fc:hover {
border-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom-width: 0px;
}

div.qhnNic.LBlAUc.Aopndd.TIunU:hover {
  box-shadow: 1px 1px 8px #888888;
}
div.qhnNic.LBlAUc.Aopndd.TIunU {
  box-shadow: 1px 1px 4px #888888;
  width: 780px;
}

div.PFLqgc.KFl4Z {
   box-shadow: 1px 1px 3px #888888;
   width:1500px;
   
}

img.tkmmwb {
  border-bottom-width: 3px;
  border-right-width: 3px;
  border-style: solid;
  border-top-width: 3px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-color: #ddd;
  border-left-width: 3px;
}

div.LsqTRb.Lzdwhd-AyKMt.tgNIJf-Wvd9Cc.Yiql6e.iTy5c.editable {
  font-size: 14px;
}

a.gJItbc.asQXV {
  margin-right: 10px;
  margin-bottom: 20px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  padding-right: 2px;
  padding-left: 2px;
  margin-left: 1px;
  font-family: Google Sans, serif;
  text-decoration: underline;
  color: #222;
}

main.Sgw65b.kdAl3b {
  padding-left: 20px; 
  padding-top: 20px;
  margin-left: 10px;
  width: 1000px;
  
} 

div.LhKRUe {
  background-color: #fff;
  border-radius: 10px;
  visibility: visible;
}

span.dzWTB {
  color: #222;
}

div.jrhqBd.LBlAUc.Aopndd.ZoT1D.TIunU {
  box-shadow: 5px, 5px, 5px;
}

div svg path {
  border-color: #fff;
}

div.d4Fe0d.LBlAUc {
  margin-right: 0px;
  margin-bottom: 0px;
}

li.tfGBod.Pedc8e.OlXwxf.tUJKGd.bFjUmb-Wvd9Cc.JL6Vxc.u0dx8e.zvbGS.J1HJOd.TIunU {
  padding-top: 0px;
  border-top-width: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  border-bottom-width: 0px;
  margin-bottom: 0px;
  border-color: #fff;

}

li.tfGBod.Pedc8e.OlXwxf.tUJKGd.bFjUmb-Wvd9Cc.Ek8Yqe.u0dx8e.zvbGS.J1HJOd.TIunU:hover {
  padding-top: 0px;
  border-top-width: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  border-bottom-width: 0px;
  margin-bottom: 0px;
  border-color: #fff;
  
}

a.u2mfde.hN1OOc.EZrbnd.GblU6b.eumXzf.VnOHwf-Tvm9db.P3W0Dd-Ysl7Fe.UISY8d-Ysl7Fe.S6Vdac {
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  margin-top: 5px;
  border-color: #ffffff;
  padding-bottom: 6px;
  background-color: #c9daf8;
  margin-bottom: 5px;
  height: 59px;
  padding-top: 10px;
  margin-right: 3px;
  margin-left: 3px;

}

a.u2mfde.hN1OOc.EZrbnd.J1raN.S6Vdac {
   border-top-left-radius:15px;
  border-top-right-radius:15px;
  margin-top: 5px;
  border-color: #ffffff;
  padding-bottom: 6px;
  background-color: #f9f9f9;
  margin-bottom: 5px;
  height: 59px;
  padding-top: 10px;
  margin-right: 3px;
  margin-left: 3px;
}
/*student counter*/
div.VnOHwf-Tvm9db.asQXV.jg22B { 
  font-size: 18px;
}
span.YVvGBb.A6dC2c.Pce5Kb {
  padding-left: 15px;
}
div.qk0lee.QRiHXd.VBEdtc-Wvd9Cc {
  background-color: #fff;
}
div.JZicYb.QRiHXd {
  margin-bottom: 5px;
  border-color: #eee;
  padding-bottom: 1px;
  padding-top: 1px;
  margin-top: 5px;
}

div.oh9CFb.Gh0umc.kpDQ8.CMmBPd {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

div.s2g3Xd {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-width: 3px;
  border-right-width: 4px;
  border-left-width: 4px;
}

div.A6dC2c.QDKOcc.VBEdtc-Wvd9Cc.zZN2Lb-Wvd9Cc {
 visibility: visible; 
}

img.gb_Aa.gbii {
  visibility: visible;
}

#ow48 {
  width: 780px;
}

div.dbEQNc {
  width: 900pc;
  margin-left: 10px;
  margin-right: 10px
  
}

div.M7zXZd {
  width:29cm; 
  margin-left: 50px;
  
}

div.YVvGBb {
  font-weight: 400;
  font-style: normal;
  
}

span.MhXXcc.oJeWuf {
padding-bottom: 0px;
  padding-top: 0px;
  visibility: visible;

}

li.tfGBod.Pedc8e.OlXwxf.tUJKGd.bFjUmb-Wvd9Cc.Ek8Yqe.u0dx8e.zvbGS.J1HJOd.TIunU {
 border-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom-width: 0px;
  

}
li.tfGBod.Pedc8e.OlXwxf.tUJKGd.bFjUmb-Wvd9Cc.Ek8Yqe.u0dx8e.zvbGS.J1HJOd.TIunU:hover {
  border-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom-width: 0px;

}

h1 html-blob span {
  font-size: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}

div.VfPpkd-O1htCb.VfPpkd-O1htCb-OWXEXe-INsAgc.VfPpkd-O1htCb-OWXEXe-di8rgd-V67aGc.ReCbLb.UAQDDf {
  border-color: #fff;
  border-width: 0px;
  border-radius: 10px;
}

div.VfPpkd-TkwUic {
  border-color: #fff;
  border-width: 0px;
  border-radius: 10px;
}

div.x39Mke {
  border-color: #fff; 
  border-width: 0px;
}

div.t4j4Wb {
  border-color: #Fff;
  border-width: 0px;
}

ul.VfPpkd-rymPhb.r6B9Fd.bwNLcf.P2Hi5d.VfPpkd-OJnkse {
  visibility: visible;
  background-color: #eee;
}

div.P47N4e.vUBwW.m1PbN.bFjUmb-Wvd9Cc.pOf0gc {
  width: 50px;
  border-left-width: 5px;
  border-top-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 5px;
  border-color: #000000;
  height: 50px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: 0px;
  box-shadow: 1px 1px 4px #888888;
}

div.r0VQac.QRiHXd.Aopndd.F4mChd {
  border-width: 5px;
  border-top-width: 2px;
  border-left-width: 2px;
  border-bottom-width: 2px;
  border-right-width: 2px;
}

div.stS1kf.Lzvjbf {
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 10px;
  
}

div.fETHd.Gh0umc.kpDQ8.CMmBPd {
  padding-top: 8px;
  padding-bottom: 8px;
  border-top-width: 1px;
}

div.DwLQSc {
  margin-left: 5px;
  margin-right: 5px;
}

div.nhassd.asQXV.YVvGBb {
  font-weight:500;
}

div.fJ1Vac {
  border-left-width: 1px;
  border-top-width: 1px;
  margin-left: 20px;
  margin-top: 20px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-radius: 10px;
  background-color: #eee;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-bottom: 25px;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

div.GWZ7yf.AJFihd.LBlAUc.YkTkoe {
  background-color: #fff;
  
   box-shadow: 1px 1px 4px #888888;
}
div.GWZ7yf.AJFihd.LBlAUc.YkTkoe:hover {
  background-color: #fff;
   box-shadow: 1px 1px 8px #888888;
}



div.GWZ7yf.m8BrFf.LBlAUc.YkTkoe {
  background-color: #fff;
   box-shadow: 1px 1px 4px #888888;
}

div.GWZ7yf.m8BrFf.LBlAUc.YkTkoe:hover {
  background-color: #fff;
   box-shadow: 1px 1px 8px #888888;
}

div.EE538 {
  background-color: #fff;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  padding-left: 15px;
   box-shadow: 1px 1px 4px #888888;


}

div.rec5Nb.cSyPgb.QRiHXd {
  margin-left: 4px;
}

div.nGi02b.tLDEHd.j70YMc {
  margin-left: 5px;
}

div.amzDAb {
  margin-left: 5px;
}

div.JBMs6.VnOHwf-Tvm9db.B7SYid.uO32ac.ZoT1D {
  border-radius: 10px;
}

span.Kma9Mb {
  font-size: 15px
}
span.Kma9Mb::before{
  content: "";
}

div.qyN25 {
  width: 1200px;

}

aside.DXLeqd {
  align-content: left;
  align-self:left;
}

div.v9TZ3c.bFjUmb-Tvm9db {
  width: 1250px;
  margin-left: 50px;
  margin-right: 50px;
  
}

span.YVvGBb.asQXV {
  font-size: 15px;
}

#ow50 {
  width: 780px;
}

ol.Xzp3fc {
  width: 900px;
}

div.bxp7vf.bFjUmb-Wvd9Cc.m1PbN.qJJSvb.vUBwW {
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 14px;
  margin-left: 0px;
}

div.n4xnA {
  border-radius: 10px;
  border-color: #ddd;
  border-width: 3px;
}

div.vUBwW.TGnLfc.A6dC2c.UISY8d-Tvm9db.bFjUmb-Tvm9db {
   border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 14px;
  margin-left: -25px;

}
button.VfPpkd-Bz112c-LgbsSe.yHy1rc.eT1oJ.DiOXab.xSP5ic.oxacD {
 background-color: #eee;
 border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 10px;
  padding-right: 15px;
  margin-left: -25px;
  margin-right: 10px;
}

div.JDxyrc.xSP5ic {
  width: 43px;
}

div.oC328b.WaqnWd.bFjUmb-Wvd9Cc.vUBwW.m1PbN.C2NJgb.m1PbN {
  background-color: #eee;
 border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -25px;
  margin-right: 10px;
}

div.OX4Vcb {
  border-radius: 10px;
}

div.ETRkCe {
  border-radius: 15px;
}

h1.fOvfyc.B7SYid.VnOHwf-Tvm9db {
  margin-left: 3px;
}
